<!--the first model of home page with horizontal alignment-->
<%= image_tag("nuages2.jpg", :alt => "", :id => "change") %>


<div id="row_catchphrase" class="row">
	<div class="col-md-12">
		<p id="catchphrase">Les meilleurs offres et les meilleurs candidats au même endroit !</p>
	</div>
</div>

<div id="row_consulter" class="row">
	<div id="deposer_annonce" class="col-md-3 col-md-offset-2">
		<button type="button" class="button_annonces btn btn-default btn-lg btn-block">Déposer une annonce</button>
	</div>
	<div class="col-md-3 col-md-offset-2">
		<button type="button" class="button_annonces btn btn-default btn-lg btn-block">Consulter les annonces</button>
	</div>
</div>

<div  id="row_newsletter" class="row">
	<form role="form">
		<div class="col-md-4">
			<label id="input_email" for="input_email">Inscrivez vous à la newsletter</label>
			<input type="email" class="form-control" id="input_email" placeholder="Enter email">
		</div>
	</form>
</div>