<%= image_tag("nuages2.jpg", :alt => "", :id => "change") %>

<div id="home_row" class="row">
	<div class="col-md-6">
		<h1 class="col_title">Entreprises</h1>
		<div class="col-md-8 col-md-offset-2">
			<%= link_to 'Déposer une annonce', "#", :id => "deposer_annonce", :class => "button_annonces btn btn-default btn-lg btn-block" %>
		</div>
	</div>

	<div class="col-md-6">
		<h1 class="col_title">Candidats</h1>
		<div class="col-md-8 col-md-offset-2">
			<div>
				<button type="button" class="button_annonces btn btn-default btn-lg btn-block">Consulter les annonces</button>
			</div>
		</div>
	</div><!--end col-md-6-->

</div> <!--row end-->

<div  id="row_newsletter" class="row">
	<form role="form">
		<div class="col-md-4">
			<label id="input_email" for="input_email">Inscrivez vous à la newsletter</label>
			<input type="email" class="form-control" id="input_email" placeholder="Enter email">
		</div>
	</form>
</div>

