<%= image_tag("change-ahead.jpg", :alt => "", :id => "change") %>

<div class="row">
	<div class="col-md-12">
		<p id="catchphrase">Les meilleurs offres et les meilleurs candidats au même endroit !</p>
	</div>
</div>

<div class="row">
  <button type="button" class="col-md-3 col-md-offset-2 btn btn-default btn-lg">Déposer une annonce</button>
  <button type="button" class="col-md-3 col-md-offset-2 btn btn-default btn-lg">Consulter les annonces</button>
</div>

<div  class="row">
<form id="newsletter" role="form" class="col-md-5">
    <label for="newsletter">Inscrivez vous à la newsletter</label>
    <input type="email" class="form-control" id="newsletter" placeholder="Enter email">
</form>
</div>
