/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *


 */

/*style.css*/


/*Top-navbar
------------*/
#header_navbar {
  padding-top: 10px;
}

.connexion_button {
  margin-left: 5px;
  margin-right: 5px; 
}

#inscription_button {
  color: white;
}

#se_connecter_button {
  color: #413E3E;
}

#home_image {
  padding-top: 0px !important;
}

#header_ul {
  margin-top: 18px !important;
}

.header_link {
  font-size: 18px;
}

/*Modal de connexion
--------------------*/
#first_modal_header  {
  background-color: #F4F3F3;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.form_block {
  margin: 8px;
  padding: 16px;
  border:1px solid #E67D32;
  border-radius: 6px;
}

/*centre les h3*/
.connexion_h3 {
  text-align: center;
}


/*Home page
-----------*/
img#change {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;

  /* Set up proportionate scaling */
  width: 100%;
  height: auto;

  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
  img#change {
    left: 50%;
    margin-left: -512px;   /* 50% */
  }
}

#home_row {
  padding-top: 30px; 
}

#catchphrase {
  text-align: left;
  font-size: 50px;
  color: white;
  font-weight: ;
}

.col_title {
  color: white;
  text-align: center;
}

#col_button {
  padding-top: 20px;
}

#deposer_annonce {
  margin-bottom: 20px;
}

.button_annonces {
  font-size: 24px !important;
  background-color: rgb(230, 125, 50) !important;
  color: white !important;
  border-color: grey !important;
  box-shadow: 5px 5px 2px #353232 !important;
}

#row_newsletter {
  margin-top: 115px;
  margin-bottom: 90px;
}

#input_email {
  color: #413E3E;
}

#input_email {
  font-size: 18px !important;
}

#footer {
}


/*Connexion page
----------------*/
.connexion_h2 {
  text-align: center;
}

#connexion_row {
  padding: 0px !important;
}

#signin_company {
  margin: 0px !important;
  background-color: #51C27C;
  padding-bottom: 25px;
  border-radius: 8px;
}

#signin_candidate {
  margin: 0px !important;
  background-color: #7EA7B4;
  padding-bottom: 25px;
  border-radius: 8px;
}
