/*First home page CSS*/

/*Home page
-----------*/
img#change {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;

  /* Set up proportionate scaling */
  width: 100%;
  height: auto;

  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
  img#change {
    left: 50%;
    margin-left: -512px;   /* 50% */
  }
}

#catchphrase {
  text-align: center;
  font-size: 50px;
  color: white;
  font-weight: bold;
}

#row_catchphrase {
  margin-top: 25px;
}

#row_consulter {
  margin-top: 70px;
}

#deposer_annonce {
  margin-bottom: 20px;
}

.button_annonces {
  height: 120px;
  font-size: 20px !important;
  font-weight: bold !important;
}

#row_newsletter {
  margin-top: 154px;
  margin-bottom: 103px;
}

#input_email {
  font-size: 18px !important;
}

#footer {
}