/*style.css*/

/*Home page
-----------*/
body{ 
        background-image: url(file.jpg);
       background-attachment:fixed;
      background-size: 100%;
      background-repeat: none}

img#change {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;

  /* Set up proportionate scaling */
  width: 100%;
  height: auto;

  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
  img#change {
    left: 50%;
    margin-left: -512px;   /* 50% */
  }
}

#catchphrase {
  text-align: center;
  font-size: 50px;
  color: white;
  font-weight: bold;
}

#row_catchphrase {
  margin-top: 25px;
}

#row_consulter {
  margin-top: 70px;
}

/*Top-navbar
------------*/
#header_navbar {
  padding-top: 10px;
}

.connexion_button {
  margin-left: 5px;
  margin-right: 5px; 
}

#inscription_button {
  color: white;
}

#se_connecter_button {
  color: #413E3E;
}

#home_image {
  padding-top: 0px !important;
}

#header_ul {
  margin-top: 18px !important;
}

.header_link {
  font-size: 18px;
}

/*Modal de connexion
--------------------*/
#first_modal_header  {
  background-color: #F4F3F3;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.form_block {
  margin: 8px;
  padding: 16px;
  border:1px solid #E67D32;
  border-radius: 6px;
}

/*centre les h3*/
.connexion_h3 {
  text-align: center;
}


/*Home page
-----------*/
img#change {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;

  /* Set up proportionate scaling */
  width: 100%;
  height: auto;

  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
  img#change {
    left: 50%;
    margin-left: -512px;   /* 50% */
  }
}

#home_row {
  padding-top: 30px; 
}

#catchphrase {
  text-align: left;
  font-size: 50px;
  color: white;
  font-weight: ;
}

.col_title {
  color: white;
  text-align: center;
}

#col_button {
  padding-top: 20px;
}

#deposer_annonce {
  margin-bottom: 20px;
}

.button_annonces {
  height: 120px;
  font-size: 24px !important;
  font-weight: bold !important;
  background-color: rgb(230, 125, 50) !important;
  color: white !important;
  border-color: grey !important;
  box-shadow: 5px 5px 2px #353232 !important;
}

#row_newsletter {
  margin-top: 115px;
  margin-bottom: 90px;
}

#input_email {
  color: #413E3E;
}

#input_email {
  font-size: 18px !important;
}

#footer {
}


/*Connexion page
----------------*/
.connexion_h2 {
  text-align: center;
}

#connexion_row {
  padding: 0px !important;
}

#signin_company {
  margin: 0px !important;
  background-color: #51C27C;
  padding-bottom: 25px;
  border-radius: 8px;
}

#signin_candidate {
  margin: 0px !important;
  background-color: #7EA7B4;
  padding-bottom: 25px;
  border-radius: 8px;
}


                                  /*============================ Nadia CSS==============================*/

#menu
{
   margin-top: 40px;
  margin-right: 78px;
  font-size: 16px;
}
#menu ul {
 margin:0;
 padding:0;
 list-style-type:none;
 text-align:center;
 

 }
#menu li {
 float:left;
 margin:auto;
 padding:0;
 /*background-color:black;*/
 }
#menu li a {
 display:block;
 width:124px;
 color:black;
 text-decoration:none;
 padding:5px;
 }
#menu li a:hover {
 color:black;
 }

 #menu ul li ul {
 display:none;
 }

 #menu ul li:hover ul {
 display:block;
 }
#menu li:hover ul li {
 float:none;
 }
 #picto{
  color: #FF9900
 }

 /* Popup Styles*/
.popupHeader {font-size:16px; text-transform: uppercase;}
.popupHeader {background:#F4F4F2; position:relative; padding:10px 20px; border-bottom:1px solid #DDD; font-weight:bold;}
.popupHeader .modal_close {position: absolute; right: 0; top:0; padding:10px 15px; background:#E4E4E2; cursor: pointer; color:#aaa; font-size:16px;}

.popupBody {padding:20px;}


/* Social Login Form */
.social_login {}
.social_login .social_box {display:block; clear:both; padding:10px; margin-bottom: 10px; background: #F4F4F2; overflow: hidden;}
.social_login .icon {display:block; width:10px; padding:5px 10px; margin-right: 10px; float:left; color:#FFF; font-size:16px; text-align: center;} 

.social_login .google .icon {background:#DD4B39;}
.social_login .icon_title {display:block; padding:10px 0;  font-weight: bold; font-size: 16px; color:black; 
    margin-left: 46px;
}
.social_login .social_box:hover {background: #E4E4E2;}

.centeredText {text-align: center; margin: 20px 0; clear: both; overflow: hidden; text-transform: uppercase;}

.action_btns {clear:both; overflow: hidden;}
.action_btns a {display: block;}

/* User Login Form */
.user_login {display: none;}
.user_login label {display: block; margin-bottom:5px;}
.user_login input[type="text"], .user_login input[type="email"], .user_login input[type="password"] 
{display: block; width:90%; padding: 10px; border:1px solid #DDD; color:#666;}
.user_login input[type="checkbox"] {float:left; margin-right:5px;}
.user_login input[type="checkbox"]+label {float:left;}
.user_login input[type="submit"]{border: none !important}


.user_login .checkbox {margin-bottom: 10px; clear: both; overflow: hidden;}
.forgot_password {display:block; margin: 20px 0 10px; clear: both; overflow: hidden; text-decoration: none; color:#ED6347;}

/* User Register Form */
.user_register {display: none;}
.user_register label {display: block; margin-bottom:5px;}
.user_register input[type="text"], .user_register input[type="email"], .user_register input[type="password"] {display: block; width:90%; padding: 10px; border:1px solid #DDD; color:#666;}
.user_register input[type="checkbox"] {float:left; margin-right:5px;}
.user_register input[type="checkbox"]+label {float:left;}

.user_register .checkbox {margin-bottom: 10px; clear: both; overflow: hidden;}

.btn {padding:10px 20px; background: #007BAD;color: white; 
}
.btn_red {background: #007BAD; color: white; }

.btn:hover {background: #0075AD;color: white;}
.btn_red:hover {background: #0075AD;}