/*style.css*/

/*Home page
-----------*/
body{ 
        background-image: url(file.jpg);
       background-attachment:fixed;
      background-size: 100%;
      background-repeat: none}

img#change {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;

  /* Set up proportionate scaling */
  width: 100%;
  height: auto;

  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
  img#change {
    left: 50%;
    margin-left: -512px;   /* 50% */
  }
}

#catchphrase {
  text-align: center;
  font-size: 50px;
  color: white;
  font-weight: bold;
}

#row_catchphrase {
  margin-top: 25px;
}

#row_consulter {
  margin-top: 70px;
}

/*Top-navbar
------------*/
#header_navbar {
  padding-top: 10px;
}

.connexion_button {
  margin-left: 5px;
  margin-right: 5px; 
}

#inscription_button {
  color: white;
}

#se_connecter_button {
  color: #413E3E;
}

#home_image {
  padding-top: 0px !important;
}

#header_ul {
  margin-top: 18px !important;
}

.header_link {
  font-size: 18px;
}

/*Modal de connexion
--------------------*/
#first_modal_header  {
  background-color: #F4F3F3;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.form_block {
  margin: 8px;
  padding: 16px;
  border:1px solid #E67D32;
  border-radius: 6px;
}

/*centre les h3*/
.connexion_h3 {
  text-align: center;
}


/*Home page
-----------*/
img#change {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;

  /* Set up proportionate scaling */
  width: 100%;
  height: auto;

  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
  img#change {
    left: 50%;
    margin-left: -512px;   /* 50% */
  }
}

#home_row {
  padding-top: 30px; 
}

#catchphrase {
  text-align: left;
  font-size: 50px;
  color: white;
  font-weight: ;
}

.col_title {
  color: white;
  text-align: center;
}

#col_button {
  padding-top: 20px;
}

#deposer_annonce {
  margin-bottom: 20px;
}

.button_annonces {
  height: 120px;
  font-size: 24px !important;
  font-weight: bold !important;
  background-color: rgb(230, 125, 50) !important;
  color: white !important;
  border-color: grey !important;
  box-shadow: 5px 5px 2px #353232 !important;
}

#row_newsletter {
  margin-top: 115px;
  margin-bottom: 90px;
}

#input_email {
  color: #413E3E;
}

#input_email {
  font-size: 18px !important;
}

#footer {
}


/*Connexion page
----------------*/
.connexion_h2 {
  text-align: center;
}

#connexion_row {
  padding: 0px !important;
}

#signin_company {
  margin: 0px !important;
  background-color: #51C27C;
  padding-bottom: 25px;
  border-radius: 8px;
}

#signin_candidate {
  margin: 0px !important;
  background-color: #7EA7B4;
  padding-bottom: 25px;
  border-radius: 8px;
}


                                  /*============================ Nadia CSS==============================*/

#menu
{
   margin-top: 40px;
  margin-right: 78px;
  font-size: 16px;
}
#menu ul {
 margin:0;
 padding:0;
 list-style-type:none;
 text-align:center;
 

 }
#menu li {
 float:left;
 margin:auto;
 padding:0;
 /*background-color:black;*/
 }
#menu li a {
 display:block;
 width:124px;
 color:black;
 text-decoration:none;
 padding:5px;
 }
#menu li a:hover {
 color:black;
 }

 #menu ul li ul {
 display:none;
 }

 #menu ul li:hover ul {
 display:block;
 }
#menu li:hover ul li {
 float:none;
 }
 #picto{
  color: #FF9900
 }