<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
  <div class="container">

		<ul class="list-inline navbar-text navbar-right">	
			<li><a class="active" href="#">Facebook</a></li>
			<li><a class="active" href="#">Twitter</a></li>
			<li><a class="active" href="#">Linkedin</a></li>
			<li><a class="active" href="#">Découvrez nos offres de service</a></li>
			<li><a class="" href="#">Contact</a></li>
			<li><a class="" href="#">Mentions Légales</a></li>
		</ul>

  </div>
</nav>
