<div class="row">
	<div clas="col-md-12">
<nav id="footer" class="navbar navbar-default navbar-fixed-bottom" role="navigation">
  <div class="container">

		<ul class="list-inline navbar-text navbar-right">	
			<li><a href=""><%= image_tag("facebook-icon.png", :alt => "facebook", :id => "") %></a></li>
			<li><a href=""><%= image_tag("linkedin-icon.png", :alt => "linkedin", :id => "") %></a></li>
			<li><a href=""><%= image_tag("twitter-icon.png", :alt => "twitetr", :id => "") %></a></li>
			<li><a class="active" href="#">Découvrez nos offres de service</a></li>
			<li><a class="" href="#">Contact</a></li>
			<li><a class="" href="#">Mentions Légales</a></li>
		</ul>

  </div>
</nav>
</div>
</div>
