    <nav id="footer" role="navigation">
      <div class="container">

        <ul class="list-inline navbar-text navbar-right">
          <li><%= link_to 'Découvrez nos offres de service', offres_path%></li>
          <li><%= link_to 'Contact', contact_path %></li>
          <li><%= link_to 'A propos', a_propos_path %></li>
          <li><%= link_to 'Mentions Légales', mentions_legales_path %></li>
        </ul>

      </div>
    </nav>
  
