<nav class="navbar navbar-default navbar-static-top" role="navigation">
	<div class="container">

		<a class="btn btn-info navbar-btn navbar-right" href="#" role="button">S'inscrire</a>

		<form class="navbar-form form-inline navbar-right" role="form">
			<div class="form-group">
				<label class="sr-only" for="exampleInputEmail2">Email</label>
				<input type="email" class="form-control" id="exampleInputEmail2" placeholder="Enter email">
			</div>
			<div class="form-group">
				<label class="sr-only" for="exampleInputPassword2">Password</label>
				<input type="password" class="form-control" id="exampleInputPassword2" placeholder="Password">
			</div>
			
			<button type="submit" class="btn btn-default">Sign in</button>
		</form>
		
		<ul class="list-inline navbar-text navbar-right">	
			<li><a class="active" href="#">Blog</a></li>
			<li><a class="" href="#">Newsletter</a></li>
			<li><a class="" href="#">Poster une offre</a></li>
		</ul>

	</div>
</nav>

